{% extends "layout.html" %}

{% block title %}Contact{% endblock %}

{% block main %}
<h4 id="header">
    Contact Us
    <small class="text-muted">Questions, comments, or feedback</small>
</h4>
<div id="contact-form">
    <form action="/email" method="post">
        <div class="form-group">
            <label for="exampleFormControlInput1">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Comments:</label>
            <textarea class="form-control" name="comments" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mb-2" name="submit">Send</button>
    </form>
</div>
{% endblock %}